body{
    
    font-family: 'PT Sans', sans-serif;
    margin: 0%;
    padding: 0%;
    display: flex ;
    flex-direction: column;
    min-height: 100vh;

}
h1{
    margin-left: 200px;
    margin-top: 0%;
}
#navv {
    background-color: #ead868;
    margin: 10px;
    margin: 0%;
    padding: 0%;
    display: flex;
    
    
}
h1{
    margin-left: 300px;
}
.hiper{
    margin-top: 0px;
    margin-left: 210px;
}

header img{
    width: 100px;
    height: 100px;
  position: absolute;
}
img{
    width: 200px;
    height: 200px;
}

footer{
        background-color: #BE8025;
        text-align: center;
        
        
    }