body{
    background-color: blanchedalmond;
}
h1{
    margin-left: 200px;
    margin-top: 0%;
}
#navv {
    background-color: #ead868;
    margin: 10px;
    margin: 0%;
    padding: 0%;
    display: flex;
    
    
}
h1{
    margin-left: 300px;
}
.hiper{
    margin-top: 0px;
    margin-left: 210px;
}

header img{
    width: 100px;
    height: 100px;
  position: absolute;
}
    #Principal {
        
        display: flex;
    }
    main{
        flex-direction: row;
        flex: 3;
        margin:20px
        
        
    }
    aside{
        flex: 1;
        border: solid 5px 	#FFFF00;
    }
    h2{
        margin: 10px;
    }
    
    footer{
        background-color: #ead868;
        text-align: center;}

    footer{
        background-color: #ead868;
        text-align: center;
    }    
  img{
       width: 500px;
       height: auto;
   }
   .carousel{
    width: 500px;
   }